$background-img: url('./assets/images/bg-flakes.png');

@-webkit-keyframes backgroundSlide {
    from {
        background-position: 960px 0px;
    }
    to {
        background-position: -960px 0px;
    }
}

.bg-cover {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -webkit-animation: backgroundSlide 200s linear infinite;
  }
  