.w-container {
    display:flex;
}

.w-content{
    padding: 3vw;
}

.w-text-centered{
    text-align:center;
}

.content-block {
    // background-color: grey;
    padding:1vw 3vw;
    flex-wrap: wrap;
}

.section-container{
    // margin-bottom:3rem;
}

.section-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin:0;
    text-transform:uppercase;
    // margin-bottom:1rem;
    // background-color: black;
    // color:white;
    padding:1vw;
}