//palette2
$white: #ffffff;
$light-slate: #374353;
$mustard: #fabc09;
$yellow: #facc43;
$green: #25bea0;
$blue: #7a8f9c;
$red: #ff7377;
$slate: #152b42;
$grey: #b1b1b1;

.v-center {
  align-items: center;
}
.h-center {
  justify-content: center;
}
.centered {
  justify-content: center;
  align-items: center;
}

.pg-app {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 2vw;
}

.pg-app-body {
  display: flex;
  flex-direction: column;
}

.pg-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  // padding: 3vw;
  &.full-height {
    height: 100vh;
  }
  > .title {
    font-weight: 900;
    text-transform: uppercase;
    // margin: 0;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
    line-height: 3rem;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
  }
}

// h1 {
//   font-size: 5vw;
//   font-family: "Raleway", sans-serif;
//   letter-spacing: normal;
//   letter-spacing: 0.1em;
//   line-height: 4vw;
// }

// h2 {
//   font-family: "Roboto", sans-serif;
//   font-size: 2.5vw;
//   letter-spacing: 0.2em;
// }

.pg-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media only screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
  }
}

/* Large Screens */
@media only screen and (min-width: 901px) {
  .pg-app-body {
  }

  .pg-section {
    // min-height: 80vh;
    // height: 100vh;
  }
}
