
*,
*:before,
*:after {
  box-sizing: inherit;
}



html, body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 !important;
  padding: 0 !important;
  height:100%;
}
body{
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  // color: $text-color;
  // background-color: $black;
}
ul,
p,
li {
  margin: 0;
  padding: 0;
}

