// .container {
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }

.grid {
   display: grid;
  &.col-2{
    grid-template-columns: 1fr 3fr;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }
}