.jumbotron {
  padding: 6em;
  .title,
  .header {
    text-transform: uppercase;
    font-weight: 900;
  }
  .title {
    font-family: 'PT Sans';
    letter-spacing: 0.2em;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  .header {
    font-family: 'Vollkorn';
    font-size: 5em;
    line-height: 1em;
    margin-bottom: 20px;
  }
  .lead {
    line-height: 1.7em;
    font-size: 1.5em;
    font-family: 'PT Sans';
  }
  .lead,
  .header>li {
    list-style-type: none;
  }
}

