.overlay {
  height: 100vh;
}

.overlay::after {
  content: "";
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url('../assets/bg-triangle-white.png') no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.2;
}

.overlay>* {
  z-index: 10;
}