//colors
$white: #fff;//backgrounds
$slateBlue: #587B7F;
$purple: #644E5B;
$darkred: #9E5A63;
$grey: #3B4349;
$darkblue: #00216D;
$teal: #39BBB1;
$seaBlue: #8DFFC7;
$yellow: #E2C044;
$red: #C96567;
$blue: #005693;
$lightgrey:rgb(217, 217, 217);
$black: black;
$darkslategray: rgb(74,84,95);
$neon-blue: #454ADE;
$dark-blue: #1B1F3B;
$light-black: #1C2023;
$light-grey: #D3D0CB;
$dark-green: rgb(12, 64, 63);
$turqoise: #587B7F;
$light-purp: #B14AED;
$tron: #6a7989;

$font-family-1: 'PT Sans', 'Raleway', 'Vollkorn';
$font-family-2:'Raleway', sans-serif;
$font-family-base: $font-family-1;
$font-size-base: 14px !default;
$line-height-base: 1.428571429 !default;
$text-color:black;


//Navbar Animations
$duration: 0.5s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175,
0.885,
0.320,
1.275);