#skills {
    flex-direction:row;
    flex-wrap: wrap;
    
}

.skill{
    display: flex;
    background:white;

    .item {
        flex-grow: 0;
        flex-basis: 20%;
        padding: 1vw;
        text-align:center;

        .image-logo {
            height: 80px;
        }
    
    
        .title {
            text-transform:uppercase;
        }
    }
}

.skill:last-child {
    margin-bottom:2vw;
}


