$asset-base-path: './assets/images' !default;

// @function asset($type, $file) {
//     @return url($asset-base-path + '/' + $type + '/' + $file);
//   }
  
@function image($folder, $file) {
    @return url($asset-base-path + '/' + $folder + '/' + $file);
}

.center-text{
    text-align:center;
}
.right-text{
    text-align:right;
}
.left-text{
    text-align:left;
}

.margin-1{
    margin-bottom:1rem;
}