.skills {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

skills.skill {
  width: 20%;
  flex-grow: 0;
  flex-basis: 20%;
  padding: 1vw;
  text-align: center;

  .image-container {
    height: auto;
    width: 40px;
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  > .title {
    text-transform: uppercase;
  }
}

.skill:last-child {
  margin-bottom: 2vw;
}
